.column{
  font-style: italic;
  font-size: 20px;
  font-family: serif;
  text-align: center;
  color: pink;
  position: relative;
  top = 200px;
  border-style: solid;
  border-width: thin;
  border-color: pink;
  border-radius: 15px;
  width = 200px;
}
#dimension {
  width: 400px;
  display: block;
  margin-bottom: 40px;
  background-color: pink;
  padding: 30px;
  border-radius: 15px;

}
